.content {
  padding: 0;
}

#navi,
.content h1,
.content h2,
.content h3,
.content h4 {
  color: black;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 15%;
  margin-right: 15%;
}

.content .carousel h1 {
  color: white;
}
.content .marketing {
  margin-top: 60px;
}
.content .marketing h2 {
  font-size: 25px;
}
.content .marketing .col-lg-4 {
  text-align: center;
  font-size: 15px;
  margin-bottom: 50px;
}

#navi {
  margin: 0;
  padding-left: 5px;
  background: rgb(100, 0, 0);
  font-size: 15px;
  font-weight: 400;
}

#navi > a {
  color: rgba(255, 255, 255, 0.8);
  display: block;
  float: left;
  margin-left: 10px;
  margin-right: 50px;
  padding: 10px;
}

#navi > a:hover {
  text-decoration: none;
}

#navi .logo {
  background: rgb(150, 0, 0);
}

#navi .logo img {
  width: 20px;
  margin-right: 5px;
}

#footer {
  background: rgb(100, 0, 0);
  background: linear-gradient(to bottom, #460000, #640000);
  color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 15px;
}

#footer a {
  color: rgba(255, 255, 255, 0.8);
}
#footer a:hover,
#footer a:active,
#footer a:focus {
  color: white;
}

.content h1 {
  font-size: 50px;
  margin-top: 0;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.content img {
  width: 100%;
}

.content p img {
  width: 100%;
  border-radius: 10px;
}

.content > * {
  font-family: 'Lora', serif;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.content.prose > * {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15%;
  margin-right: 15%;
}

.content .parallax {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.content .parallax h1 {
  position: absolute;
  bottom: 30px;
  width: 80%;
  color: white;
  text-shadow: 0 0 10px black;
}

@media (max-width: 700px) {
  .content h1 {
    font-size: 24px;
  }
  .content > * {
    font-size: 14px;
  }
}

@media print {
  .content h1 {
    font-size: 24pt;
  }
  .content > * {
    font-size: 14pt;
  }
}

#fold-marker {
  position: fixed;
  margin: 0;
  bottom: 10px;
  right: 50px;
  font-size: 30px;
  color: white;
  opacity: 0.6;
  cursor: pointer;
}
#fold-marker:hover {
  opacity: 1;
}
