<div class="container-fluid" id="footer">
  <div class="text-center clearfix">
    <div class="pull-right text-right">
      <i id="scroll-up" class="glyphicon glyphicon-chevron-up"></i>
    </div>

    <div class="text-right contacts">
      <p>Ms&nbsp;Erzsébet Darabosné</p>
      <p><a href="mailto:zsoka@megingat.hu">zsoka@megingat.hu</a></p>
      <p><a href="tel:+36204548652">+36 204548652</a></p>
    </div>

    <div class="contacts">
      <p>&nbsp;</p>
      <p><i class="glyphicon glyphicon-envelope"></i></p>
      <p><i class="glyphicon glyphicon-earphone"></i></p>
    </div>

    <div class="text-left contacts">
      <p>Ms&nbsp;Ildikó Kovács</p>
      <p><a href="mailto:ildi@megingat.hu">ildi@megingat.hu</a></p>
      <p><a href="tel:+36205410607">+36 205410607</a></p>
    </div>

    <p class="mini">
      &ldquo;B&#8209;É&rdquo;&nbsp;Bt.
      7461&nbsp;Kaposvár&#8209;Toponár, Váci&nbsp;M.&nbsp;u&nbsp;22.,
      tax&nbsp;ID:&nbsp;25222659&#8209;2&#8209;14,
      corporate&nbsp;registry&nbsp;number:&nbsp;14&#8209;06&#8209;300378
    </p>

  </div>
</div>
