<div class="container-fluid" id="footer">
  <div class="text-center clearfix">
    <div class="pull-right text-right">
      <i id="scroll-up" class="glyphicon glyphicon-chevron-up"></i>
    </div>

    <div class="contacts">
      <p><i class="glyphicon glyphicon-user"></i></p>
      <p><i class="glyphicon glyphicon-envelope"></i></p>
      <p><i class="glyphicon glyphicon-earphone"></i></p>
    </div>

    <div class="text-left contacts">
      <p>Dr.&nbsp;Darabosné M.&nbsp;Erzsébet</p>
      <p><a href="mailto:zsoka@megingat.hu">zsoka@megingat.hu</a></p>
      <p><a href="tel:+36204548652">+36 204548652</a></p>
    </div>

    <p class="mini">
      adószáma:&nbsp;57595746&#8209;1&#8209;31
    </p>
  </div>
</div>
