<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lora&subset=latin,latin-ext">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,latin-ext">
    <link rel="stylesheet" href="/style/megingat.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/scripts/megingat.js"></script>
  </head>
  <body>
    {% include navi.html %}
    <div class="container-fluid content index">

    <div class="carousel-template">
      {{ content }}
    </div>

    {% include fold.html %}

    <div class="container marketing">

      <div class="row">
        <div class="col col-md-4">
          <img class="img-circle" src="http://i.imgur.com/iwsZG17.jpg" style="width: 140px; height: 140px;">
          <h1>Eladó ingatlanok</h1>
          <p>Bár kínálatunk folyamatosan bővül, számunkra elsősorban nem az eladó ingatlanok mennyiségének növelése a cél. Háttérkínálatunkból a jelen oldalunkra azokat az ingatlanokat válogattuk ki Önnek, amelyek rejtett vagy feltűnő, de mindenképpen izgalmas lehetőségeivel várják, hogy az Ön kreativitásával az Ön egyedi, elbűvölő birtokává válhassanak.</p>
          <p><a class="btn btn-megingat" href="/elado" role="button">Ajánlatunk&nbsp;&raquo;</a></p>
        </div>

        <div class="col col-md-4">
          <img class="img-circle" src="http://i.imgur.com/gIYG2l7.jpg" style="width: 140px; height: 140px;">
          <h1>Keresett ingatlanok</h1>
          <p>Ha Ön az álmát szeretné megvalósítani, vagy a pénzét szeretné különleges ingatlanba fektetni, kérjük keressen minket! Oldalunk, s a háttérben folyó "ingatlannyomozói" tevékenységünk segítségével megkeressük Önnek az elképzelése szerinti ingatlant.</p>
        </div>

        <div class="col col-md-4">
          <img class="img-circle" src="http://i.imgur.com/cHwgdIm.jpg" style="width: 140px; height: 140px;">
          <h1>Kapcsolat</h1>
          <p>Tisztelt Érdeklődő!</p>
          <p>Amennyiben tárgyalás miatt -ritka esetben mindketten- elfoglaltak vagyunk és Ön telefonon nem érne el minket, kérjük email-ben hagyjon üzenetet a telefonszámával, s mi a legrövidebb időn belül visszahívjuk Önt.</p>
          <p>Köszönjük megértését!</p>
          <p><a class="btn btn-megingat" href="/bemutatkozas" role="button">Bemutatkozás&nbsp;&raquo;</a></p>
        </div>
      </div>
    </div>

    {% include footer.html %}
  </body>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-32704033-3', 'auto');
    ga('send', 'pageview');
  </script>

</html>
